html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
}

.field {
    width: 300px;
    height: 300px;
}

.field .cell {
    float: left;
    width: 98px;
    height: 98px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.field .cell:hover {
    background-color: #ddd;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -ms-transition:     background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

.field .cell-0-0, .field .cell-1-0, .field .cell-2-0, .field .cell-0-1, .field .cell-1-1, .field .cell-2-1 {
    border-right: 2px solid gray;
}

.field .cell-0-0, .field .cell-0-1, .field .cell-0-2, .field .cell-1-0, .field .cell-1-1, .field .cell-1-2 {
    border-bottom: 2px solid gray;
}